!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "lib/underscore.js"}
    %script{src: "lib/backbone.js"}
    %script{src: "js/index.js"}
    %link{href: 'css/application.css', type: 'text/css', rel: 'stylesheet' }
    %title
  %body
    #tab
      .tabs
        %a.tab.active{href: "#A"} TabA
        %a.tab{href: "#B"} TabB
      .panels
        #A.panel.active PanelA
        #B.panel PanelB

